name: Swift Build
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Swift
        uses: actions/setup-swift@v2
        with:
          swift-version: 5.5 # Replace with your Swift version

      - name: Build
        run: swift build
